*{
    margin: 0 0 10px 0;
    padding: 0;
    box-sizing: border-box;
}

h1.emergency{
    font-size: 2em;
    text-align: center;
}

hr{
    margin: 15px 0;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 800px;
}

.post{
    font-size: 24px;
    display: flow;
    padding: 15px;
    border: 2px solid teal;
    border-top: 8px solid teal;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: break-word;
}

.post__content > div{
    margin: 10px 0 10px 0;
    text-align: center;
}

.post__btn{
    text-align: right;
}

.post-enter{
    transform: translateY(-350px);
}

.post-enter-active{
    transform: translateY(0px);
    transition: all 500ms ease-in;
}

.post-exit{
    opacity: 1;
}

.post-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
