*{
    margin: 0 0 10px 0;
    padding: 0;
    box-sizing: border-box;
}

h1.emergency{
    font-size: 2em;
    text-align: center;
}

hr{
    margin: 15px 0;
}

#root{
    display: flex;
    justify-content: center;
}

.App{
    width: 50%;
}

.post{
    font-size: 24px;
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-top: 8px solid teal;
    margin-top: 25px;
    justify-content: space-between;
    overflow-y: auto;
    word-wrap: break-word;
}

.post__content > div{
    margin: 10px 0 10px 0;
    text-align: justify;
    overflow-x: hidden;
}

div.post__content > h1{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin: 10px;
    max-width: 700px;
    width: 100%;
}

.post__btn{
    text-align: right;
}

.post-enter{
    transform: translateX(-350px);
}

.post-enter-active{
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit{
    opacity: 1;
}

.post-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.page__wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current{
    border: 2px solid orange;
    font-weight: bold;
}

.container{
    padding-top: 15px;
}

div > form{
    display: flex;
    flex-direction: column;
}



