.myHeader{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: pink;
}

.myHeaderNav{
    margin-left: auto;
}

.demo {
    margin: 16px;
}
.demo-nav {
    height: 30px;
    margin-bottom: 16px;
    line-height: 30px;
    background: #f8f8f8;
}
.demo-nav a {
    padding: 0 8px;
    line-height: 30px;
}
.app-list {
    margin-top: 16px;
}

.headerStyle{
    text-align: center;
    color: #fff;
    height: 64px;
    padding-inline: 50px;
    line-height: 64px;
    background-color: #7dbcea;
}